.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 20px;
}

.search__input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid black;
  outline: none;
  width: 300px;
}

.search {
  position: relative;
}

.search__dropdown {
  position: absolute;
  width: 100%;
  border-bottom: 1px solid black;
}
